body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#game-board {
    background-color: #000;
    position: relative;
}

#game-controls {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 200px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#score {
    color: #fff;
    font-size: 18px;
}
