/* Sample CSS for styling the form */
body {
  font-family: Arial, sans-serif;
  background-image:url('https://github.com/agamgoyal19/my-first-static-web-app/assets/86164231/93f79470-3806-4957-9088-406af7bfb9f8');
  background-size:cover;
  background-repeat:no-repeat;
}
img {
  width:100%;
  margin: 0 auto;
}
form {
  width: 50%;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
