/* styles.css */
body {
	background-image:url('https://github.com/agamgoyal19/my-first-static-web-app/assets/86164231/caa1a71f-4665-41e8-b544-c4100e32a006');
	background-size:cover;
	background-repeat:no-repeat;
}
/* Grid styles */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 350px);
  grid-template-rows: repeat(6, 350px);
  margin-bottom: 20px;
}

.square {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
}

.square.is-off {
  background-color: brown;
}

/* Game info styles */
.game-info {
  text-align: center;
  margin-bottom: 20px;
}

#startBtn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  background-color: brown;
  color:white;
}

#startBtn:hover {
  background-color: white;
  color: brown;
}

#movesCounter {
  font-size: 18px;
}
