*{
    margin:0px;
}
#a{
    width:1000px;
    height:700px;
    background-color: white;
   margin-left: 170px;
}
#b{
    width:1000px;
    height:50px;
    background-color: aqua;
    color:black;
    font-weight: bolder;
   font-family: cursive;
   font-size: 20px;
   }
.c{
    margin-top: 10px;float:left;
    margin-left: 380px;
}
#d{
    background-color:white;
    width:inherit;
    height:80px;
     background-color: black;
}
#d ol{
    list-style: none;
    margin-top: 20px;
    float:left;
  }
#d li{
    float:left;
   padding:10px 20px 10px 20px;
    margin-left: 30px;
 color:cyan; font-weight: bolder; 
    transition:ease all 1sec;
    }
#d li:hover{
    background-color: cyan;
    color:black;
    cursor:pointer;
    border-bottom: 2px white dotted;
}
#e{
    background-image: url(../pics/news.jpg);
    width:1000px;
    height:150px;
}